body {
  font-size: 14px;
  height: 90vh;
  background-color: hsl(30, 38%, 92%);
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  height: 420px;
  width: 550px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

.image {
  background-image: url("images/image-product-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 110%;
  height: 100%;
  width: 100%;
  border-radius: 10px 0 0 10px;
}

.card-image,
.card-info {
  width: 50%;
  box-sizing: border-box;
}

.card-info {
  padding: 5%;
}

.product-type {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: hsl(228, 12%, 48%);
  padding-bottom: 20px;
}

.product-type,
.product-info {
  font-family: 'Montserrat', sans-serif;
}

.product-info {
  color: hsl(228, 12%, 48%);
  padding-bottom: 20px;
  line-height: 1.4;
}

.card-info h1 {
  font-family: 'Fraunces', serif;
  font-size: 2.0rem;
  padding-bottom: 20px;
}

.prices {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.main-price,
.old-price {
  display: inline;
}

.main-price {
  font-size: 1.7rem;
  font-family: 'Fraunces', serif;
  color: hsl(158, 36%, 37%);
  margin-right: 20px;
}

.old-price {
  text-decoration: line-through;
  font-size: 0.8rem;
  color: hsl(228, 12%, 48%);
}

.button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  background: hsl(158, 36%, 37%);
  border: none;
  height: 50px;
  width: 100%;
  border-radius: 5px;
}


.button img {
  margin-right: 10px;
}

.button:hover {
  background: hsl(212, 21%, 14%);
  cursor: pointer;
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 480px) {
  .card {
    height: 600px;
    width: 350px;
    flex-direction: column;
  }

  .card-image {
    height: 40%;
    width: 100%;
  }

  .card-info {
    height: 60%;
    width: 100%;
  }

  .product-info {
    line-height: 1.8;
  }

  .image {
    background-image: url("images/image-product-mobile.jpg");
    background-size: 100%;
    border-radius: 10px 10px 0 0;
  }

}